{% extends 'base.html' %}
{% block content %}
<div class="card p-4 mx-auto" style="max-width:400px;">
  <h4 class="text-center mb-3">Login</h4>
  {% if msg %}<div class="alert alert-danger">{{ msg }}</div>{% endif %}
  <form method="POST">
    <input class="form-control mb-3" type="text" name="username" placeholder="Username" required>
    <input class="form-control mb-3" type="password" name="password" placeholder="Password" required>
    <button class="btn btn-dark w-100">Login</button>
  </form>
  <div class="text-center mt-3">
    <a href="{{ url_for('signup') }}">Create new account</a>
  </div>
</div>
{% endblock %}
